VITE_APP_NAME=Boutique
VITE_APP_ENV=local

VITE_PRODUCT_API_URL=/product-api
VITE_INVENTORY_API_URL=/inventory-api

VITE_API_TIMEOUT_MS=10000
VITE_DEFAULT_CURRENCY=USD

VITE_ENABLE_ADVERTISEMENTS=true
VITE_ENABLE_RECOMMENDATIONS=false
VITE_ENABLE_CURRENCY=false
VITE_ENABLE_ASSISTANT=false